@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3001f;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 240px;
  font-weight: 900;
  cursor: default;
  color: #fff;
  text-transform: capitalize;
  line-height: 1;
}
.cursor {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  transition: all 0.1s ease-out;
  pointer-events: none;
}
h2:hover + .cursor {
  transform: scale(15);
}
